*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: rgb(59, 156, 242);

}
.grid-cell{
    display: flex;
    flex-basis: 100%;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    max-width: 30%;
    border: solid;
    width: 500px;
    aspect-ratio: 1 / 1;
    gap: 0;
    padding: 0;
    background-color: white;
}
