*
*::before
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
}
.container > div{
    border: solid ;
    display: flex;
    flex-basis: 100%;
    min-width: 0;
    align-items: center;
    justify-content: center;
    

    
}
.container{
    display: flex;
    border: solid;
    margin: 1px;
    padding: 2px ;
    width: 50%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: cente;
          

}
